@import "tailwindcss";

/* Scrollbar custom style */
::-webkit-scrollbar {
  width: 8px;
  background: #101c2b;
}
::-webkit-scrollbar-thumb {
  background: #22304a;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2d415f;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #22304a #101c2b;
}